@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

@layer utilities {
  .dotted-bg {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 20px 20px;
    color: #e5e7eb;
    position: relative;
  }
}

/* Make the whole scrollbar track slim */
::-webkit-scrollbar {
  width: 10px;   /* reduce track width */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #002078;
  border-radius: 20px;

  /* Keep some spacing so thumb doesn’t touch walls */
  border: 2px solid transparent;
  background-clip: padding-box;

  min-height: 40px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #001450;
}

